html {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

#page-title a {
    color: aquamarine;
}

body {
    background-color:blueviolet;
}

#content-area {
    background-color: white;
    margin-left:10%;
    margin-right:10%;
}





